.banner {
  position: relative;
  text-align: center;

  &__container-bg {
    width: 100%;
  }

  &__logo {
    position: absolute;
    width: 100%;
    top: 2%;
    text-align: left;
    color: $black;
    font-size: 1.9rem;
    font-family: $yugo;
    font-weight: $medium;
    padding: 5px 25px;

    @media screen and (max-width: 600px) {
      font-size: 3.16vw;
      padding: 0.83vw 4.16vw;
    }
  }

  &__content {
    padding: 0 25px;

    @media screen and (max-width: 600px) {
      padding: 0 4.16vw;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7%;
    width: 355px;
    align-items: flex-start;

    @media screen and (max-width: 600px) {
      width: 59.16vw;
    }
  }

  &__small-text {
    font-family: $mplus;
    font-weight: $extrabold;
    font-size: 6rem;
    margin-top: 10px;
    color: #1A1311;

    @media screen and (max-width: 600px) {
      font-size: 10vw;
      margin-top: 1.66vw;
    }
  }

  &__big-text {
    font-family: $mplus;
    font-weight: $extrabold;
    font-size: 8.8rem;
    margin-top: -30px;
    color: #1A1311;

    @media screen and (max-width: 600px) {
      font-size: 14vw;
      margin-top: -6vw;
    }
  }

  &__text {
    font-family: $yugo;
    font-size: 2rem;
    font-weight: $medium;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-align: justify;
    width: 335px;
    margin-top: -8px;
    line-height: 1.2;
    color: #070304;

    @media screen and (max-width: 600px) {
      width: 54.16vw;
      margin-top: -1.33vw;
      font-size: 3.83vw;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
  }

  &__bottom-text {
    font-family: $mplus;
    font-weight: $extrabold;
    font-size: 1.8rem;
    margin-top: 8px;
    margin-left: 3px;
    border: 1px solid #19050787;
    padding: 2px 7px;
    color: #1A1311;

    @media screen and (max-width: 600px) {
      font-size: 3vw;
      margin-top: 1.33vw;
      margin-left: 0.50vw;
      padding: 0.33vw 1.16vw;
    }
  }

  &__bottom-text-big {
    font-family: $mplus;
    font-weight: $extrabold;
    font-size: 4rem;
    color: #1A1311;
    margin-left: 10px;
    margin-top: 10px;

    @media screen and (max-width: 600px) {
      font-size: 7vw;
      margin-top: 1.66vw;
      margin-left: 0.66vw;
    }
  }

  &__image-wrapper {
    position: absolute;
    top: 24%;
    width: 189px;
    left: 63%;

    @media screen and (max-width: 600px) {
      width: 31.50vw;
    }

    img {
      width: 100%;
    }
  }

  &__crown {
    height: 90px;
    width: 224px;
    background: url(../image/banner-crown.svg) no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 2%;
    left: 60%;

    @media screen and (max-width: 600px) {
      height: 15vw;
      width: 37.33vw;
    }
  }

  &__crown-text {
    font-family: $mplus;
    font-size: 1.1rem;
    margin-top: 17px;
    line-height: 1.2;

    @media screen and (max-width: 600px) {
      font-size: 1.83vw;
      margin-top: 2.83vw;
    }
  }

  &__crown-big {
    font-family: $mplus;
    font-weight: $extrabold;
    font-size: 2.1rem;
    margin-top: -2px;

    @media screen and (max-width: 600px) {
      font-size: 3.50vw;
      margin-top: -0.33vw;
    }
  }
}