.benefits {
  position: relative;
  text-align: center;

  &__container {
    width: 550px;
    margin: -15px auto;
    position: relative;

    @media screen and (max-width: 600px) {
      width: 91.66vw;
      margin: -2.50vw auto;
    }
  }

  img {
    width: 100%;
  }

  &__bottle-container {
    width: 120px;
    position: absolute;
    top: -27%;
    left: 69%;

    @media screen and (max-width: 600px) {
      width: 20vw;
    }
  }

  &__banner-text {
    font-family: $yugo;
    font-weight: $extrabold;
    font-size: 36px;
    text-align: left;
    font-style: italic;
    color: white;
    position: absolute;
    top: 5%;
    left: 6%;

    @media screen and (max-width: 600px) {
      font-size: 5.8vw;
    }

    p {
      line-height: 1.3;
      text-shadow: 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000;
    }
  }

  &__list {
    width: 550px;
    margin: 0 auto;

    @media screen and (max-width: 600px) {
      width: 91.66vw;
    }
  }

  &__item {
    background: url(../image/benefits-box-bg-1.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 430px;
    width: 100%;
    padding: 45px 25px;

    @media screen and (max-width: 600px) {
      height: 71.66vw;
      padding: 7.50vw 4.16vw;
    }

    &--bg-2 {
      background: url(../image/benefits-box-bg.png) no-repeat;
      background-position: center;
      background-size: 100%;
      width: 577px;
      margin-left: -10px;
      margin-bottom: 5px;
      padding: 49px 35px;

      @media screen and (max-width: 600px) {
        width: 96.16vw;
        margin-left: -1.66vw;
        margin-bottom: 0.83vw;
        padding: 8.16vw 5.83vw;
      }
    }
  }

  &__item-title {
    position: relative;
    border: 1px solid #1A1311;
    height: 70px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 600px) {
      height: 11.66vw;
    }

    p {
      font-family: $yumin;
      font-weight: $medium;
      font-size: 2.5rem;
      text-align: center;

      @media screen and (max-width: 600px) {
        height: 4.16vw;
      }
    }
  }

  &__item-number {
    background: url(../image/benefits-counter-circle.png) no-repeat;
    background-position: center;
    background-size: contain;
    height: 40px;
    width: 55px;
    position: absolute;
    top: -25%;
    left: -3%;
    padding: 9px;

    @media screen and (max-width: 600px) {
      height: 6.66vw;
      width: 9.16vw;
      padding: 1.50vw;
    }

    span {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.4rem;
      font-weight: $extrabold;
      color: #fff;

      @media screen and (max-width: 600px) {
        font-size: 2.33vw;
      }
    }
  }

  &__paragraph {
    font-family: $yugo;
    font-weight: $medium;
    font-size: 1.7rem;
    padding: 10px 10px 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-align: left;

    @media screen and (max-width: 600px) {
      font-size: 2.83vw;
      padding: 1.66vw 1.66vw 0.83vw;
    }
  }

  &__item-box {
    border: 1px solid #040811;
    height: 157px;

    @media screen and (max-width: 600px) {
      height: 26.16vw;
    }
  }
}