.campaign {
  padding: 20px;

  @media screen and (max-width: 600px) {
    padding: 3.33vw;
  }
  
  &__main-content {
    border: 3px solid #1A1311;
    padding-bottom: 15px;

    @media screen and (max-width: 600px) {
      padding-bottom: 2.50vw;
    }

    @media screen and (max-width: 375px) {
      border: 2px solid #1A1311;
    }
  }

  &__title {
    height: 43px;
    width: 100%;
    background: url(../image/campaign-red-bg.svg) no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (max-width: 600px) {
      height: 7.16vw;
    }
  }

  &__title-text {
    font-family: $yugo;
    font-weight: $bold;
    font-size: 3rem;
    text-align: center;
    color: $white;

    @media screen and (max-width: 600px) {
      font-size: 5vw;
    }
  }

  &__price-wrapper {
    padding: 5px;
    display: flex;

    @media screen and (max-width: 600px) {
      padding: 0.83vw;
    }
  }

  &__bottle {
    display: inline-block;
    width: 67px;

    @media screen and (max-width: 600px) {
      width: 11.16vw;
    }

    img {
      width: 100%;
    }
  }

  &__old-price {
    width: 161px;
    display: inline-block;
    vertical-align: top;
    position: relative;

    @media screen and (max-width: 600px) {
      width: 27.83vw;
      margin: 0 5px 0 -3px;
    }
  }

  &__old-price-subtext {
    font-family: $yumin;
    font-weight: $demibold;
    font-size: 1.1rem;
    position: absolute;
    top: 25px;
    left: 20px;
    line-height: 1.2;

    @media screen and (max-width: 600px) {
      font-size: 1.83vw;
      top: 4.16vw;
      left: 3.33vw;
    }

    @media screen and (max-width: 375px) {
      top: 3.16vw;
    }
  }

  &__old-price-yen-container {
    position: absolute;
    top: -8px;
    left: 51px;

    @media screen and (max-width: 600px) {
      top: -1.33vw;
      left: 8.50vw;
    }

    @media screen and (max-width: 375px) {
      top: -2.33vw;
    }
  }

  &__old-price-yen {
    font-family: $yumin;
    font-weight: $demibold;
    font-size: 3.1rem;
    position: relative;
    top: 25px;

    @media screen and (max-width: 600px) {
      font-size: 5.16vw;
      top: 4.16vw;
    }

    span {
      font-size: 1.8rem;

      @media screen and (max-width: 600px) {
        font-size: 3vw;
      }
    }
  }

  &__old-price-small-text {
    position: absolute;
    top: 25px;
    left: 118px;
    font-size: 0.9rem;
    font-weight: $bold;

    @media screen and (max-width: 600px) {
      top: 4.16vw;
      left: 21.66vw;
      font-size: 1.3vw;
    }

    @media screen and (max-width: 375px) {
      top: 3.16vw;
      font-weight: bold;
    }
  }

  &__old-price-bottom {
    position: absolute;
    font-family: $yugo;
    font-weight: $bold;
    font-size: 1.7rem;
    top: 59px;
    left: 21px;

    @media screen and (max-width: 600px) {
      font-size: 2.83vw;
      top: 9.83vw;
      left: 3.50vw;
    }

    @media screen and (max-width: 375px) {
      top: 8.83vw;
    }
  }

  &__old-price-bottom-wrapper {
    position: absolute;
    top: 135px;
    left: 12px;
    text-align: center;

    @media screen and (max-width: 600px) {
      top: 22.50vw;
      left: 3vw;
    }

    @media screen and (max-width: 375px) {
      top: 21.50vw;
    }
  }

  &__ml {
    font-family: $yugo;
    font-weight: $medium;
    font-size: 1.4rem;

    @media screen and (max-width: 600px) {
      font-size: 2.33vw;
    }
  }

  &__ml-bottom {
    font-family: $yugo; //toppanbunkyu
    border: 1px solid #19050787;
    padding: 2px 7px;
    padding: 2px 0;
    font-size: 1.7rem;
    width: 95px;
    margin: 0 auto;

    @media screen and (max-width: 600px) {
      padding: 0.33vw 1.16vw;
      padding: 0.33vw 0;
      font-size: 2.83vw;
      width: 15.83vw;
    }
  }

  &__new-price {
    width: 310px;
    display: inline-block;
    vertical-align: top;
    position: relative;

    @media screen and (max-width: 600px) {
      width: 50.66vw;
    }
  }

  &__red-ribbon {
    height: 100px;
    width: 100px;
    background: url(../image/campaign-red-ribbon.svg) no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: -12px;
    margin-top: 8px;

    @media screen and (max-width: 600px) {
      height: 16.66vw;
      width: 16.66vw;
      margin-left: -2vw;
      margin-top: 1.33vw;
    }
  }

  &__ribbon-text {
    font-family: $yugo;
    font-weight: $bold;
    font-size: 1.8rem;
    text-align: center;
    line-height: 1;
    padding: 15px 0;
    color: white;

    @media screen and (max-width: 600px) {
      font-size: 3vw;
      padding: 2.50vw 0;
    }
  }

  &__ribbon-text-price {
    font-size: 2.6rem;
    line-height: 1.2;

    @media screen and (max-width: 600px) {
      font-size: 3.33vw;
    }
  }

  &__ribbon-text-yen {
    font-size: 1.6rem;

    @media screen and (max-width: 600px) {
      font-size: 2.66vw;
    }
  }

  &__ribbon-text-off {
    font-size: 2.3rem;
    line-height: 1;

    @media screen and (max-width: 600px) {
      font-size: 3.83vw;
    }
  }

  &__new-price-wrapper {
    position: absolute;
    top: -10%;
    left: 29%;
  }

  &__new-price-text {
    font-family: $yumin;
    font-weight: $demibold;
    font-size: 7.5rem;
    color: #DC000C;
    margin-top: 22px;
    margin-left: 9px;

    @media screen and (max-width: 600px) {
      font-size: 10.5vw;
      margin-top: 3.66vw;
      margin-left: 1.50vw;
    }

    span {
      font-size: 4rem;
      margin-left: -5px;

      @media screen and (max-width: 600px) {
        font-size: 6.66vw;
        margin-left: -0.83vw;
      }
    }
  }

  &__new-price-small-text {
    font-family: $yumin;
    font-weight: $demibold;
    font-size: 1rem;
    position: absolute;
    top: 9%;
    left: 86%;

    @media screen and (max-width: 600px) {
      font-size: 1.66vw;
      top: 9%;
      left: 87%;
    }
  }

  &__new-price-bottom-text {
    font-family: $yumin; //toppanbunkyu
    font-size: 1.9rem;
    font-weight: 700;
    color: #DC000C;
    position: absolute;
    left: 29%;
    top: 42%;

    @media screen and (max-width: 600px) {
      font-size: 3.16vw;
    }
  }

  &__button-big {
    background: url(../image/campaign-btn.svg) no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    font-family: $yumin;
    font-weight: $extrabold;
    font-size: 3rem;
    color: $white;
    line-height: 1;
    width: 333px;
    height: 82px;
    position: absolute;
    margin-top: 7px;
    margin-left: -11px;

    @media screen and (max-width: 600px) {
      font-size: 5vw;
      // width: 55.50vw;
      width: 52.5vw;
      height: 13.66vw;
      margin-top: 1.16vw;
      margin-left: -1.83vw;
    }
  }

  &__gold-wrapper {
    width: 515px;
    margin: 0 auto;
    // margin-left: 27px;
    // margin-top: -5px;
    border: 1px solid #A56D35;

    @media screen and (max-width: 600px) {
      width: 85.83vw;
      // margin-left: 4.50vw;
      // margin-top: -0.83vw;
      margin: 0 auto;
    }

    @media screen and (max-width: 375px) {
      width: 84.83vw;
      // margin-left: 5.5vw;
      // margin-top: -1.83vw;
    }
  }

  &__gold-title {
    height: 37px;
    width: 100%;
    background: url(../image/campaign-gold-bg.svg) no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (max-width: 600px) {
      height: 6.16vw;
    }
  }

  &__gold-title-text {
    font-family: $yugo;
    font-weight: $bold;
    font-size: 24px;
    text-align: center;
    color: $black;

    @media screen and (max-width: 600px) {
      font-size: 4vw;
    }
  }

  &__gold-number {
    background: url(../image/campaign-circle.svg) no-repeat;
    background-position: center;
    background-size: contain;
    width: 65px;
    height: 65px;
    text-align: center;
    font-family: $yugo;
    font-weight: $bold;
    font-size: 1.4rem;
    padding: 13px;

    @media screen and (max-width: 600px) {
      width: 9.83vw;
      height: 9.83vw;
      font-size: 2.33vw;
      padding: 2.16vw;
    }

    span {
      font-size: 2.5rem;
      line-height: 0.7;

      @media screen and (max-width: 600px) {
        font-size: 4.16vw;
      }
    }
  }

  &__gold-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 13px 0;
    padding-top: 7px;

    @media screen and (max-width: 600px) {
      grid-gap: 2.50vw 0;
      padding-top: 1.16vw;
    }
  }

  &__gold-item {
    justify-content: flex-start;
    display: flex;
  }

  &__gold-text {
    padding: 6px 0 0 10px;
    color: #844D26;

    @media screen and (max-width: 600px) {
      padding: 1vw 0 0 1.66vw;
    }
  }

  &__gold-small {
    font-family: $yugo;
    font-weight: $bold;
    font-size: 15px;
    letter-spacing: -4px;

    @media screen and (max-width: 600px) {
      font-size: 2.50vw;
      letter-spacing: -0.66vw;
    }
  }

  &__gold-big {
    font-family: $yugo;
    font-weight: $bold;
    font-size: 33px;
    margin-top: -10px;

    @media screen and (max-width: 600px) {
      font-size: 5.50vw;
      margin-top: -1.66vw;
    }

    &--width {
      width: 206px;

      @media screen and (max-width: 600px) {
        width: 34.33vw;
      }
    }
  }

  &__paragraph {
    font-family: $yugo;
    font-weight: $medium;
    font-size: 15px;
    line-height: 1.9;
    padding: 13px 0px 25px 13px;

    @media screen and (max-width: 600px) {
      font-size: 2.50vw;
      padding: 2.16vw 0 4.16vw 2.16vw;
    }
  }

  &__button-small {
    background: url(../image/button-smaller.svg) no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    font-family: $yumin;
    font-weight: $extrabold;
    color: $white;
    line-height: 1;
    width: 300px;
    height: 65px;
    position: absolute;
    margin-top: 10px;
    margin-left: -28px;
    font-size: 2.1rem;

    @media screen and (max-width: 600px) {
      width: 50vw;
      height: 10.83vw;
      margin-top: 1.66vw;
      margin-left: -4.66vw;
      font-size: 3.50vw;
    }
  }

  &__bottom-content {
    border: 3px solid #1A1311;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 10px 0px;

    @media screen and (max-width: 600px) {
      padding: 1.66vw 1.66vw 0;
    }
  }

  &__bottom-col1 {
    width: 320px;
    position: relative;

    @media screen and (max-width: 600px) {
      width: 53.33vw;
    }
  }

  &__bottom-col2 {
    width: 310px;

    @media screen and (max-width: 600px) {
      width: 52.66vw;
    }
  }

  &__bottom-text {
    font-family: $yugo;
    font-weight: $medium;
    font-size: 26px;
    margin-left: 22px;
    margin-top: -2px;
    color: #6D3C17;

    @media screen and (max-width: 600px) {
      font-size: 4.33vw;
      margin-left: 0;
      margin-top: -0.33vw;
    }

    @media screen and (max-width: 375x) {
      margin-left: 2.66vw;
      margin-top: -1.33vw;
    }
  }

  &__col2-text {
    font-family: 1rem;
    font-family: $yugo;
    font-weight: $medium;
    margin-top: 7px;

    @media screen and (max-width: 600px) {
      font-size: 1.66vw;
      margin-top: 1.16vw;
    }

    @media screen and (max-width: 375px) {
      font-size: 1.6vw;
      margin-top: 0.5vw;
    }
  }

  &__bottom-price-yen {
    font-family: $yumin;
    font-weight: $demibold;
    font-size: 60px;
    font-weight: 600;
    margin-top: -7px;
    margin-left: 24px;
    letter-spacing: -1px;

    @media screen and (max-width: 600px) {
      font-size: 10vw;
      margin: 0;
    }

    span {
      font-size: 3.2rem;

      @media screen and (max-width: 600px) {
        font-size: 5.33vw;
      }
    }
  }

  &__bottom-price-small-text {
    position: absolute;
    top: 43%;
    left: 55%;
    font-family: $yumin;
    font-weight: $medium;
    font-size: 1rem;

    @media screen and (max-width: 600px) {
      font-size: 1.66vw;
    }
  }

  &__bottom-box-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $yugo;
    font-weight: $medium;
    font-size: 2rem;
    text-align: center;
    padding: 6px 0;
    border: 1px solid #6D3C17;
    color: #6D3C17;
    position: absolute;
    top: 34%;
    left: 72%;
    width: 60px;
    height: 60px;

    @media screen and (max-width: 600px) {
      font-size: 2.33vw;
      padding: 1vw 0;
      width: 10vw;
      height: 10vw;
      top: 40%;
    }

    @media screen and (max-width: 375px) {
      padding: 1vw 0;
    }

    p {
      line-height: 1.2;
    }
  }

  &__crossout {
    border-left: 1px solid #DC000C;
    height: 133px;
    -webkit-transform: translateY(20px) translateX(5px) rotate(-80deg);
    position: absolute;
    top: -25.5%;
    left: 60%;

    @media screen and (max-width: 600px) {
      height: 22.16vw;
      top: -27%;
    }
  }
}