.comments {
  padding: 0 20px;
  margin-top: -15px;
  margin-bottom: 92px;

  @media screen and (max-width: 600px) {
    padding: 0 3.33vw;
    margin-top: -2.50vw;
    margin-bottom: 15.33vw;
  }

  &__title {
    background: url(../image/comments-title-bg.svg) no-repeat;
    background-position: center;
    background-size: contain;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 600px) {
      height: 16.66vw;
    }

    p {
      font-family: $yugo;
      font-weight: $bold;
      font-size: 45px;
      color: #1A1311;
      text-shadow: 8px 2px 3px #00000042;

      @media screen and (max-width: 600px) {
        font-size: 7.50vw;
      }
    }
  }

  &__item-title {
    background: url(../image/comments-item-bg.svg) no-repeat;
    background-position: center;
    background-size: contain;
    height: 62px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 600px) {
      height: 10.33vw;
    }

    p {
      font-family: $yugo;
      font-weight: $bold;
      font-size: 25px;
      color: #1A1311;
      text-shadow: 8px 2px 3px #00000042;

      @media screen and (max-width: 600px) {
        font-size: 4.16vw;
      }
    }
  }

  &__item-content {
    padding-left: 15px;
    display: inline-flex;

    @media screen and (max-width: 600px) {
      padding-left: 2.50vw;
    }
  }

  &__col1 {
    width: 193px;

    @media screen and (max-width: 600px) {
      width: 32.16vw;
    }
  }

  &__img-container {
    width: 193px;
    margin-top: -7px;

    @media screen and (max-width: 600px) {
      width: 32.16vw;
      margin-top: -1.16vw;
    }
  }

  img {
    width: 100%;
  }

  &__img-caption {
    background-color: #A56D35;
    height: 37px;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -4px;
    font-size: 21px;
    font-family: $yugo;
    font-weight: $bold;

    @media screen and (max-width: 600px) {
      height: 6.16vw;
      margin-top: -1vw;
      font-size: 3.50vw;
    }
  }

  &__col2-title {
    font-family: $yugo;
    font-weight: $medium;
    font-size: 24px;

    @media screen and (max-width: 600px) {
      font-size: 4vw;
    }
  }

  &__paragraph {
    font-family: $yugo;
    font-weight: $medium;
    font-size: 21px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    text-align: justify;

    @media screen and (max-width: 600px) {
      font-size: 3.50vw;
    }
  }

  &__blue {
    color: #3774AC;
  }

  &__col2 {
    padding: 7px 7px 0 22px;

    @media screen and (max-width: 600px) {
      padding: 1.16vw 1.16vw 0 3.66vw;
    }
  }

  &__item {
    margin-bottom: 32px;

    @media screen and (max-width: 600px) {
      margin-bottom: 5.33vw;

      &:nth-child(3) {
        margin-bottom: 8.33vw;
      }
    }
  }
}