.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1A1311;
  height: 70px;
  margin-top: -7px;

  @media screen and (max-width: 600px) {
    height: 11.66vw;
    margin-top: -0.84vw;
  }

  &__copyright {
    color: $white;
    font-weight: $medium;
    font-size: 2.2rem;

    @media screen and (max-width: 600px) {
      font-size: 3.66vw;
    }
  }
}