.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: $white;
  width: 100%;
  height: 85px;

  @media screen and (max-width: 600px) {
    height: 14.1vw;
  }

  &__text {
    font-weight: $medium;
    font-family: $yugo;
    font-size: $font-20;
    padding: 0 24px;
    margin-top: 27px;
    color: $black;

    @media screen and (max-width: 600px) {
      font-size: 3.3vw;
      padding: 0 4vw;
      margin-top: 4.50vw
    }

    @media screen and (min-width: 768px) {
      margin: 0 auto;
      max-width: 800px;
    }
  }
}