.pr {
  position: relative;
  text-align: center;

  &__container {
    margin: 17px 35px;

    @media screen and (max-width: 600px) {
      margin: 2.83vw 5.83vw;
    }
  }

  &__container-bg {
    width: 100%;
  }

  &__title {
    position: absolute;
    top: 6%;
    left: 34%;
    font-family: $yugo;
    font-weight: $bold;
    text-shadow: 2px 2px #0000008a;
    font-size: 3.8rem;

    @media screen and (max-width: 600px) {
      font-size: 6.33vw;
    }
  }

  &__box {
    background-color: $white;
    width: 440px;
    height: 200px;
    position: absolute;
    top: 16%;
    left: 14%;

    @media screen and (max-width: 600px) {
      width: 73.33vw;
      height: 33.33vw;
    }
  }

  &__text {
    font-family: $yugo;
    font-weight: $medium;
    font-size: 2.1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    width: 460px;
    position: absolute;
    top: 51%;
    left: 14%;
    text-align: left;

    @media screen and (max-width: 600px) {
      font-size: 3.50vw;
      width: 76.66vw;
    }
  }
}