.problem {
  position: relative;
  text-align: center;
  margin-bottom: 90px;

  @media screen and (max-width: 600px) {
    margin-bottom: 15vw;
  }

  &__container {
    width: 600px;
    margin-top: -8px;

    @media screen and (max-width: 600px) {
      width: 100vw;
      margin-top: -1.33vw;
    }

    @media screen and (max-width: 375px) {
      margin-top: -2.33vw;
    }
  }

  &__container-bg {
    width: 100%;
  }

  &__arc-container {
    top: 6%;
    left: 40%;
    z-index: 1;
    margin: 13px 0 0 66px;
    transform: rotate(1deg);
    position: absolute;

    @media screen and (max-width: 600px) {
      margin: 2.5vw 0 0 11.6vw;
      transform: rotate(0.5deg);
    }

    @media screen and (max-width: 400px) {
      margin: 2.5vw 0 0 10vw;
      transform: rotate(0.5deg);
    }
  }

  &__text-arc {
    font-family: $mplus;
    font-weight: $extrabold;
    font-size: 3rem;

    @media screen and (max-width: 600px) {
      font-size: 5vw;
    }
  }

  &__circle {
    height: 190px;
    width: 190px;
    background: url(../image/problem-circles.svg) no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 34%;
    left: 5%;

    &--second {
      top: 67%;
      left: 9%;
    }

    &--third {
      top: 46%;
      left: 35%;
    }

    &--fourth {
      top: 34%;
      left: 65%;
    }

    &--fifth {
      top: 67%;
      left: 61%;
    }

    @media screen and (max-width: 600px) {
      height: 31.66vw;
      width: 31.66vw;
    }
  }

  &__circle-text {
    font-family: $yugo;
    font-weight: $extrabold;
    font-size: 1.9rem;
    margin-top: 48px;

    @media screen and (max-width: 600px) {
      font-size: 3.16vw;
      margin-top: 8vw;
    }
  }
}