.qa {
  padding: 0 20px;
  margin-top: -15px;
  margin-bottom: 92px;

  @media screen and (max-width: 600px) {
    padding: 0 3.33vw;
    margin-top: -2.50vw;
    margin-bottom: 15.33vw;
  }

  &__title {
    background: url(../image/comments-title-bg.svg) no-repeat;
    background-position: center;
    background-size: contain;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 600px) {
      height: 16.66vw;
    }

    p {
      font-family: $yugo;
      font-weight: $bold;
      font-size: 45px;
      color: #1A1311;
      text-shadow: 8px 2px 3px #00000042;

      @media screen and (max-width: 600px) {
        font-size: 7.50vw;
      }
    }
  }
  
  &__list {
    margin: 0 auto;
    margin-top: 42px;

    @media screen and (max-width: 600px) {
      margin-top: 2vw;
    }
  }

  &__item {
    border-bottom: 1px solid #BEBFBE;
    padding: 0 8px 32px;
    margin: 10px;
    margin-bottom: 26px;

    &:last-child {
      border-bottom: none;
    }

    @media screen and (max-width: 600px) {
      padding: 0 1.33vw 5.33vw;
      margin: 1.66vw;
      margin-bottom: 4.33vw;
    }
  }

  &__question {
    display: flex;
    align-items: center;
  }

  &__question-img {
    width: 35px;
    margin-right: 7px;

    @media screen and (max-width: 600px) {
      width: 5.8vw;
      margin-right: 1.16vw;
    }
  }

  img {
    width: 100%;
  }

  &__question-text {
    font-family: $yugo;
    font-weight: $medium;
    font-size: 27px;

    @media screen and (max-width: 600px) {
      font-size: 4.50vw;
    }
  }

  &__answer {
    display: flex;
    align-items: self-start;
    margin-top: -5px;

    @media screen and (max-width: 600px) {
      margin-top: -0.83vw;
    }
  }

  &__answer-text {
    font-family: $yugo;
    font-weight: $medium;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 480px;
    margin-left: 4px;
    font-size: 21px;
    margin-top: 6px;
    text-align: justify;

    @media screen and (max-width: 600px) {
      width: 80vw;
      margin-left: 0.66vw;
      font-size: 3.50vw;
      margin-top: 1vw;
    }
  }
}