.sns {
  position: relative;
  text-align: center;
  margin-top: 95px;

  @media screen and (max-width: 600px) {
    margin-top: 15.83vw;
  }

  &__container {
    width: 530px;
    margin: -12px 37px;
    height: 160px;
    position: relative;

    @media screen and (max-width: 600px) {
      width: 88.33vw;
      margin: -2vw 6.16vw;
      height: 26.66vw;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  img {
    width: 100%;
  }

  &__bottle-container {
    width: 120px;
    position: absolute;
    top: -27%;
    left: 68%;

    @media screen and (max-width: 600px) {
      width: 20vw;
    }
  }

  &__banner-text {
    font-family: $yugo;
    font-weight: $extrabold;
    font-size: 36px;
    text-align: left;
    font-style: italic;
    color: white;
    position: absolute;
    top: 35%;
    left: 8%;

    @media screen and (max-width: 600px) {
      font-size: 6vw;
    }

    p {
      line-height: 1.3;
      text-shadow: 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000;
    }
  }

  &__img-container {
    padding: 0 32px 0 37px;
    margin-top: 4px;

    @media screen and (max-width: 600px) {
      padding: 0 5.33vw 0 6.16vw;
      margin-top: 0.66vw;
    }
  }
}