.video {
  position: relative;
  text-align: center;

  &__container {
    width: 550px;
    margin: -15px auto;
    position: relative;

    @media screen and (max-width: 600px) {
      width: 91.66vw;
      margin: -2.50vw auto;
    }
  }

  img {
    width: 100%;
  }

  &__bottle-container {
    width: 120px;
    position: absolute;
    top: -22%;
    left: 68%;

    @media screen and (max-width: 600px) {
      width: 20vw;
    }
  }

  &__banner-text {
    font-family: $yugo;
    font-weight: $extrabold;
    font-size: 36px;
    text-align: left;
    font-style: italic;
    color: white;
    position: absolute;
    top: 21%;
    left: 8%;

    @media screen and (max-width: 600px) {
      font-size: 6vw;
    }

    p {
      line-height: 1.3;
      text-shadow: 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000;
    }
  }

  &__text {
    font-family: $yugo;
    font-size: 2.1rem;
    font-weight: $medium;
    margin-top: 10px;

    @media screen and (max-width: 600px) {
      font-size: 3.50vw;
      margin-top: 1.66vw;
    }
  }

  &__wrapper {
    height: 370px;
    padding: 20px;

    @media screen and (max-width: 600px) {
      height: 61.66vw;
      padding: 3.33vw;
    }
  }

}