.section.benefits
  .benefits__container
    img.benefits__container-bg(src="assets/image/benefits-bg.png")

    .benefits__bottle-container
      img.benefits__bottle-box-img(src="assets/image/banner-bottler-box.png")
    
    .benefits__banner-text
      p こんなに違います。
        br
        | 願いを叶える
        br
        | efs育毛剤。
  
  .benefits__list
    .benefits__item
      .benefits__item-title 
        .benefits__item-number 
          span 01
        p efs育毛剤の利点が、見出しが入ります。
      
      p.benefits__paragraph これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。

      .benefits__item-box

    .benefits__item.benefits__item--bg-2
      .benefits__item-title 
        .benefits__item-number 
          span 02
        p efs育毛剤の利点が、見出しが入ります。
      
      p.benefits__paragraph これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。

      .benefits__item-box
    
    .benefits__item.benefits__item--bg-2
      .benefits__item-title 
        .benefits__item-number 
          span 03
        p efs育毛剤の利点が、見出しが入ります。
      
      p.benefits__paragraph これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。

      .benefits__item-box
  
    .benefits__item.benefits__item--bg-2
      .benefits__item-title 
        .benefits__item-number 
          span 04
        p efs育毛剤の利点が、見出しが入ります。
      
      p.benefits__paragraph これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。

      .benefits__item-box
    
    .benefits__item.benefits__item--bg-2
      .benefits__item-title 
        .benefits__item-number 
          span 05
        p efs育毛剤の利点が、見出しが入ります。
      
      p.benefits__paragraph これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。

      .benefits__item-box