.comments
  .comments__title
    p お客さまの声
  
  ul.comments__list
    li.comments__item
      .comments__item-title
        p お客さまの声の見出しが入ります。
      .comments__item-content
        .comments__col1
          .comments__img-container
            img(src="assets/image/comments/comments-img-1.jpg")
          p.comments__img-caption 約○ヶ月愛用
      
        .comments__col2
          p.comments__col2-title 〇〇県（○○歳）
          p.comments__paragraph これはコピーです。これはコピーです。これはコピーです○○○○○○○。
            span.comments__blue 注目ポイントに色をつけます。
            | これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
    
    li.comments__item
      .comments__item-title
        p お客さまの声の見出しが入ります。
      .comments__item-content
        .comments__col1
          .comments__img-container
            img(src="assets/image/comments/comments-img-2.jpg")
          p.comments__img-caption 約○ヶ月愛用
      
        .comments__col2
          p.comments__col2-title 〇〇県（○○歳）
          p.comments__paragraph これはコピーです。これはコピーです。これはコピーです○○○○○○○。
            span.comments__blue 注目ポイントに色をつけます。
            | これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
    
    li.comments__item
      .comments__item-title
        p お客さまの声の見出しが入ります。
      .comments__item-content
        .comments__col1
          .comments__img-container
            img(src="assets/image/comments/comments-img-3.jpg")
          p.comments__img-caption 約○ヶ月愛用
      
        .comments__col2
          p.comments__col2-title 〇〇県（○○歳）
          p.comments__paragraph これはコピーです。これはコピーです。これはコピーです○○○○○○○。
            span.comments__blue 注目ポイントに色をつけます。
            | これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
    
    li.comments__item
      .comments__item-title
        p お客さまの声の見出しが入ります。
      .comments__item-content
        .comments__col1
          .comments__img-container
            img(src="assets/image/comments/comments-img-4.jpg")
          p.comments__img-caption 約○ヶ月愛用
      
        .comments__col2
          p.comments__col2-title 〇〇県（○○歳）
          p.comments__paragraph これはコピーです。これはコピーです。これはコピーです○○○○○○○。
            span.comments__blue 注目ポイントに色をつけます。
            | これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
    
    li.comments__item
      .comments__item-title
        p お客さまの声の見出しが入ります。
      .comments__item-content
        .comments__col1
          .comments__img-container
            img(src="assets/image/comments/comments-img-5.jpg")
          p.comments__img-caption 約○ヶ月愛用
      
        .comments__col2
          p.comments__col2-title 〇〇県（○○歳）
          p.comments__paragraph これはコピーです。これはコピーです。これはコピーです○○○○○○○。
            span.comments__blue 注目ポイントに色をつけます。
            | これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。