.problem
  .problem__container
    img.problem__container-bg(src="assets/image/round-with-manequin.png")

    .problem__arc-container
      p.problem__text-arc.js-curved-heading こんなお悩み抱えていませんか？

    .problem__circle
      p.problem__circle-text お悩み内容が
        br
        | 入ります。
        br
        | これはコピーです。
    
    .problem__circle.problem__circle--second
      p.problem__circle-text お悩み内容が
        br
        | 入ります。
        br
        | これはコピーです。
    
    .problem__circle.problem__circle--third
      p.problem__circle-text お悩み内容が
        br
        | 入ります。
        br
        | これはコピーです。
    
    .problem__circle.problem__circle--fourth
      p.problem__circle-text お悩み内容が
        br
        | 入ります。
        br
        | これはコピーです。
    
    .problem__circle.problem__circle--fifth
      p.problem__circle-text お悩み内容が
        br
        | 入ります。
        br
        | これはコピーです。
