.section.qa
  .qa__title
    p よくあるご質問
  
  ul.qa__list
    li.qa__item
      .qa__question
          .qa__question-img 
            img(src="assets/image/question-icon.svg")
          .qa__question-text 見出しが入ります。

      .qa__answer
        .qa__question-img 
          img(src="assets/image/answer-icon.svg")
        .qa__answer-text これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
    
    li.qa__item
      .qa__question
          .qa__question-img 
            img(src="assets/image/question-icon.svg")
          .qa__question-text 見出しが入ります。

      .qa__answer
        .qa__question-img 
          img(src="assets/image/answer-icon.svg")
        .qa__answer-text これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
    
    li.qa__item
      .qa__question
          .qa__question-img 
            img(src="assets/image/question-icon.svg")
          .qa__question-text 見出しが入ります。

      .qa__answer
        .qa__question-img 
          img(src="assets/image/answer-icon.svg")
        .qa__answer-text これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
    
    li.qa__item
      .qa__question
          .qa__question-img 
            img(src="assets/image/question-icon.svg")
          .qa__question-text 見出しが入ります。

      .qa__answer
        .qa__question-img 
          img(src="assets/image/answer-icon.svg")
        .qa__answer-text これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
    
    li.qa__item
      .qa__question
          .qa__question-img 
            img(src="assets/image/question-icon.svg")
          .qa__question-text 見出しが入ります。

      .qa__answer
        .qa__question-img 
          img(src="assets/image/answer-icon.svg")
        .qa__answer-text これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。