.sns
  .sns__container
    img.sns__container-bg(src="assets/image/benefits-bg.png")

    .sns__bottle-container
      img.sns__bottle-box-img(src="assets/image/banner-bottler-box.png")
    
    .sns__banner-text
      p SNSでも大絶賛！
    
  .sns__img-container
    img.sns__img(src="assets/image/sns-collage.jpg")