.section.video
  .video__container
    img.video__container-bg(src="assets/image/benefits-bg.png")

    .video__bottle-container
      img.video__bottle-box-img(src="assets/image/banner-bottler-box.png")
    
    .video__banner-text
      p 動画でご紹介
        br
        | タイトル
    
    p.video__text 自信を持っておすすめします。まずはお試しください！

  .video__wrapper