
<section class="pr">
  <div class="pr__container"><img class="pr__container-bg" src="assets/image/PR-bg.svg"/></div>
  <div class="pr__title">会社のPR欄</div>
  <div class="pr__box"></div>
  <p class="pr__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーで</p>
</section>