
<div class="problem">
  <div class="problem__container"><img class="problem__container-bg" src="assets/image/round-with-manequin.png"/>
    <div class="problem__arc-container">
      <p class="problem__text-arc js-curved-heading">こんなお悩み抱えていませんか？</p>
    </div>
    <div class="problem__circle">
      <p class="problem__circle-text">お悩み内容が<br/>入ります。<br/>これはコピーです。</p>
    </div>
    <div class="problem__circle problem__circle--second">
      <p class="problem__circle-text">お悩み内容が<br/>入ります。<br/>これはコピーです。</p>
    </div>
    <div class="problem__circle problem__circle--third">
      <p class="problem__circle-text">お悩み内容が<br/>入ります。<br/>これはコピーです。</p>
    </div>
    <div class="problem__circle problem__circle--fourth">
      <p class="problem__circle-text">お悩み内容が<br/>入ります。<br/>これはコピーです。</p>
    </div>
    <div class="problem__circle problem__circle--fifth">
      <p class="problem__circle-text">お悩み内容が<br/>入ります。<br/>これはコピーです。</p>
    </div>
  </div>
</div>