
<div class="section video">
  <div class="video__container"><img class="video__container-bg" src="assets/image/benefits-bg.png"/>
    <div class="video__bottle-container"><img class="video__bottle-box-img" src="assets/image/banner-bottler-box.png"/></div>
    <div class="video__banner-text">
      <p>動画でご紹介<br/>タイトル</p>
    </div>
    <p class="video__text">自信を持っておすすめします。まずはお試しください！</p>
  </div>
  <div class="video__wrapper"></div>
</div>