@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500;700;800&display=swap");
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5em;
}

html {
  height: 100%;
  font-size: 10px;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 300;
  color: #1b1311;
}
@media screen and (max-width: 600px) {
  html {
    font-size: 1.6vw;
  }
}

main {
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  width: 100%;
  height: 85px;
}
@media screen and (max-width: 600px) {
  .header {
    height: 14.1vw;
  }
}
.header__text {
  font-weight: 500;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: 2rem;
  padding: 0 24px;
  margin-top: 27px;
  color: #000;
}
@media screen and (max-width: 600px) {
  .header__text {
    font-size: 3.3vw;
    padding: 0 4vw;
    margin-top: 4.5vw;
  }
}
@media screen and (min-width: 768px) {
  .header__text {
    margin: 0 auto;
    max-width: 800px;
  }
}

.banner {
  position: relative;
  text-align: center;
}
.banner__container-bg {
  width: 100%;
}
.banner__logo {
  position: absolute;
  width: 100%;
  top: 2%;
  text-align: left;
  color: #000;
  font-size: 1.9rem;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
  padding: 5px 25px;
}
@media screen and (max-width: 600px) {
  .banner__logo {
    font-size: 3.16vw;
    padding: 0.83vw 4.16vw;
  }
}
.banner__content {
  padding: 0 25px;
}
@media screen and (max-width: 600px) {
  .banner__content {
    padding: 0 4.16vw;
  }
}
.banner__text-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 7%;
  width: 355px;
  align-items: flex-start;
}
@media screen and (max-width: 600px) {
  .banner__text-wrapper {
    width: 59.16vw;
  }
}
.banner__small-text {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 900;
  font-size: 6rem;
  margin-top: 10px;
  color: #1A1311;
}
@media screen and (max-width: 600px) {
  .banner__small-text {
    font-size: 10vw;
    margin-top: 1.66vw;
  }
}
.banner__big-text {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 900;
  font-size: 8.8rem;
  margin-top: -30px;
  color: #1A1311;
}
@media screen and (max-width: 600px) {
  .banner__big-text {
    font-size: 14vw;
    margin-top: -6vw;
  }
}
.banner__text {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-align: justify;
  width: 335px;
  margin-top: -8px;
  line-height: 1.2;
  color: #070304;
}
@media screen and (max-width: 600px) {
  .banner__text {
    width: 54.16vw;
    margin-top: -1.33vw;
    font-size: 3.83vw;
  }
}
.banner__bottom {
  display: flex;
  align-items: center;
}
.banner__bottom-text {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 900;
  font-size: 1.8rem;
  margin-top: 8px;
  margin-left: 3px;
  border: 1px solid #19050787;
  padding: 2px 7px;
  color: #1A1311;
}
@media screen and (max-width: 600px) {
  .banner__bottom-text {
    font-size: 3vw;
    margin-top: 1.33vw;
    margin-left: 0.5vw;
    padding: 0.33vw 1.16vw;
  }
}
.banner__bottom-text-big {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 900;
  font-size: 4rem;
  color: #1A1311;
  margin-left: 10px;
  margin-top: 10px;
}
@media screen and (max-width: 600px) {
  .banner__bottom-text-big {
    font-size: 7vw;
    margin-top: 1.66vw;
    margin-left: 0.66vw;
  }
}
.banner__image-wrapper {
  position: absolute;
  top: 24%;
  width: 189px;
  left: 63%;
}
@media screen and (max-width: 600px) {
  .banner__image-wrapper {
    width: 31.5vw;
  }
}
.banner__image-wrapper img {
  width: 100%;
}
.banner__crown {
  height: 90px;
  width: 224px;
  background: url(../image/banner-crown.svg) no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 2%;
  left: 60%;
}
@media screen and (max-width: 600px) {
  .banner__crown {
    height: 15vw;
    width: 37.33vw;
  }
}
.banner__crown-text {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 1.1rem;
  margin-top: 17px;
  line-height: 1.2;
}
@media screen and (max-width: 600px) {
  .banner__crown-text {
    font-size: 1.83vw;
    margin-top: 2.83vw;
  }
}
.banner__crown-big {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 900;
  font-size: 2.1rem;
  margin-top: -2px;
}
@media screen and (max-width: 600px) {
  .banner__crown-big {
    font-size: 3.5vw;
    margin-top: -0.33vw;
  }
}

.campaign {
  padding: 20px;
}
@media screen and (max-width: 600px) {
  .campaign {
    padding: 3.33vw;
  }
}
.campaign__main-content {
  border: 3px solid #1A1311;
  padding-bottom: 15px;
}
@media screen and (max-width: 600px) {
  .campaign__main-content {
    padding-bottom: 2.5vw;
  }
}
@media screen and (max-width: 375px) {
  .campaign__main-content {
    border: 2px solid #1A1311;
  }
}
.campaign__title {
  height: 43px;
  width: 100%;
  background: url(../image/campaign-red-bg.svg) no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 600px) {
  .campaign__title {
    height: 7.16vw;
  }
}
.campaign__title-text {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 600px) {
  .campaign__title-text {
    font-size: 5vw;
  }
}
.campaign__price-wrapper {
  padding: 5px;
  display: flex;
}
@media screen and (max-width: 600px) {
  .campaign__price-wrapper {
    padding: 0.83vw;
  }
}
.campaign__bottle {
  display: inline-block;
  width: 67px;
}
@media screen and (max-width: 600px) {
  .campaign__bottle {
    width: 11.16vw;
  }
}
.campaign__bottle img {
  width: 100%;
}
.campaign__old-price {
  width: 161px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
@media screen and (max-width: 600px) {
  .campaign__old-price {
    width: 27.83vw;
    margin: 0 5px 0 -3px;
  }
}
.campaign__old-price-subtext {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 600;
  font-size: 1.1rem;
  position: absolute;
  top: 25px;
  left: 20px;
  line-height: 1.2;
}
@media screen and (max-width: 600px) {
  .campaign__old-price-subtext {
    font-size: 1.83vw;
    top: 4.16vw;
    left: 3.33vw;
  }
}
@media screen and (max-width: 375px) {
  .campaign__old-price-subtext {
    top: 3.16vw;
  }
}
.campaign__old-price-yen-container {
  position: absolute;
  top: -8px;
  left: 51px;
}
@media screen and (max-width: 600px) {
  .campaign__old-price-yen-container {
    top: -1.33vw;
    left: 8.5vw;
  }
}
@media screen and (max-width: 375px) {
  .campaign__old-price-yen-container {
    top: -2.33vw;
  }
}
.campaign__old-price-yen {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 600;
  font-size: 3.1rem;
  position: relative;
  top: 25px;
}
@media screen and (max-width: 600px) {
  .campaign__old-price-yen {
    font-size: 5.16vw;
    top: 4.16vw;
  }
}
.campaign__old-price-yen span {
  font-size: 1.8rem;
}
@media screen and (max-width: 600px) {
  .campaign__old-price-yen span {
    font-size: 3vw;
  }
}
.campaign__old-price-small-text {
  position: absolute;
  top: 25px;
  left: 118px;
  font-size: 0.9rem;
  font-weight: 700;
}
@media screen and (max-width: 600px) {
  .campaign__old-price-small-text {
    top: 4.16vw;
    left: 21.66vw;
    font-size: 1.3vw;
  }
}
@media screen and (max-width: 375px) {
  .campaign__old-price-small-text {
    top: 3.16vw;
    font-weight: bold;
  }
}
.campaign__old-price-bottom {
  position: absolute;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  top: 59px;
  left: 21px;
}
@media screen and (max-width: 600px) {
  .campaign__old-price-bottom {
    font-size: 2.83vw;
    top: 9.83vw;
    left: 3.5vw;
  }
}
@media screen and (max-width: 375px) {
  .campaign__old-price-bottom {
    top: 8.83vw;
  }
}
.campaign__old-price-bottom-wrapper {
  position: absolute;
  top: 135px;
  left: 12px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .campaign__old-price-bottom-wrapper {
    top: 22.5vw;
    left: 3vw;
  }
}
@media screen and (max-width: 375px) {
  .campaign__old-price-bottom-wrapper {
    top: 21.5vw;
  }
}
.campaign__ml {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
}
@media screen and (max-width: 600px) {
  .campaign__ml {
    font-size: 2.33vw;
  }
}
.campaign__ml-bottom {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  border: 1px solid #19050787;
  padding: 2px 7px;
  padding: 2px 0;
  font-size: 1.7rem;
  width: 95px;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .campaign__ml-bottom {
    padding: 0.33vw 1.16vw;
    padding: 0.33vw 0;
    font-size: 2.83vw;
    width: 15.83vw;
  }
}
.campaign__new-price {
  width: 310px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
@media screen and (max-width: 600px) {
  .campaign__new-price {
    width: 50.66vw;
  }
}
.campaign__red-ribbon {
  height: 100px;
  width: 100px;
  background: url(../image/campaign-red-ribbon.svg) no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: -12px;
  margin-top: 8px;
}
@media screen and (max-width: 600px) {
  .campaign__red-ribbon {
    height: 16.66vw;
    width: 16.66vw;
    margin-left: -2vw;
    margin-top: 1.33vw;
  }
}
.campaign__ribbon-text {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  line-height: 1;
  padding: 15px 0;
  color: white;
}
@media screen and (max-width: 600px) {
  .campaign__ribbon-text {
    font-size: 3vw;
    padding: 2.5vw 0;
  }
}
.campaign__ribbon-text-price {
  font-size: 2.6rem;
  line-height: 1.2;
}
@media screen and (max-width: 600px) {
  .campaign__ribbon-text-price {
    font-size: 3.33vw;
  }
}
.campaign__ribbon-text-yen {
  font-size: 1.6rem;
}
@media screen and (max-width: 600px) {
  .campaign__ribbon-text-yen {
    font-size: 2.66vw;
  }
}
.campaign__ribbon-text-off {
  font-size: 2.3rem;
  line-height: 1;
}
@media screen and (max-width: 600px) {
  .campaign__ribbon-text-off {
    font-size: 3.83vw;
  }
}
.campaign__new-price-wrapper {
  position: absolute;
  top: -10%;
  left: 29%;
}
.campaign__new-price-text {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 600;
  font-size: 7.5rem;
  color: #DC000C;
  margin-top: 22px;
  margin-left: 9px;
}
@media screen and (max-width: 600px) {
  .campaign__new-price-text {
    font-size: 10.5vw;
    margin-top: 3.66vw;
    margin-left: 1.5vw;
  }
}
.campaign__new-price-text span {
  font-size: 4rem;
  margin-left: -5px;
}
@media screen and (max-width: 600px) {
  .campaign__new-price-text span {
    font-size: 6.66vw;
    margin-left: -0.83vw;
  }
}
.campaign__new-price-small-text {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 600;
  font-size: 1rem;
  position: absolute;
  top: 9%;
  left: 86%;
}
@media screen and (max-width: 600px) {
  .campaign__new-price-small-text {
    font-size: 1.66vw;
    top: 9%;
    left: 87%;
  }
}
.campaign__new-price-bottom-text {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 1.9rem;
  font-weight: 700;
  color: #DC000C;
  position: absolute;
  left: 29%;
  top: 42%;
}
@media screen and (max-width: 600px) {
  .campaign__new-price-bottom-text {
    font-size: 3.16vw;
  }
}
.campaign__button-big {
  background: url(../image/campaign-btn.svg) no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 900;
  font-size: 3rem;
  color: #fff;
  line-height: 1;
  width: 333px;
  height: 82px;
  position: absolute;
  margin-top: 7px;
  margin-left: -11px;
}
@media screen and (max-width: 600px) {
  .campaign__button-big {
    font-size: 5vw;
    width: 52.5vw;
    height: 13.66vw;
    margin-top: 1.16vw;
    margin-left: -1.83vw;
  }
}
.campaign__gold-wrapper {
  width: 515px;
  margin: 0 auto;
  border: 1px solid #A56D35;
}
@media screen and (max-width: 600px) {
  .campaign__gold-wrapper {
    width: 85.83vw;
    margin: 0 auto;
  }
}
@media screen and (max-width: 375px) {
  .campaign__gold-wrapper {
    width: 84.83vw;
  }
}
.campaign__gold-title {
  height: 37px;
  width: 100%;
  background: url(../image/campaign-gold-bg.svg) no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 600px) {
  .campaign__gold-title {
    height: 6.16vw;
  }
}
.campaign__gold-title-text {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #000;
}
@media screen and (max-width: 600px) {
  .campaign__gold-title-text {
    font-size: 4vw;
  }
}
.campaign__gold-number {
  background: url(../image/campaign-circle.svg) no-repeat;
  background-position: center;
  background-size: contain;
  width: 65px;
  height: 65px;
  text-align: center;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  padding: 13px;
}
@media screen and (max-width: 600px) {
  .campaign__gold-number {
    width: 9.83vw;
    height: 9.83vw;
    font-size: 2.33vw;
    padding: 2.16vw;
  }
}
.campaign__gold-number span {
  font-size: 2.5rem;
  line-height: 0.7;
}
@media screen and (max-width: 600px) {
  .campaign__gold-number span {
    font-size: 4.16vw;
  }
}
.campaign__gold-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 13px 0;
  padding-top: 7px;
}
@media screen and (max-width: 600px) {
  .campaign__gold-list {
    grid-gap: 2.5vw 0;
    padding-top: 1.16vw;
  }
}
.campaign__gold-item {
  justify-content: flex-start;
  display: flex;
}
.campaign__gold-text {
  padding: 6px 0 0 10px;
  color: #844D26;
}
@media screen and (max-width: 600px) {
  .campaign__gold-text {
    padding: 1vw 0 0 1.66vw;
  }
}
.campaign__gold-small {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: -4px;
}
@media screen and (max-width: 600px) {
  .campaign__gold-small {
    font-size: 2.5vw;
    letter-spacing: -0.66vw;
  }
}
.campaign__gold-big {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 700;
  font-size: 33px;
  margin-top: -10px;
}
@media screen and (max-width: 600px) {
  .campaign__gold-big {
    font-size: 5.5vw;
    margin-top: -1.66vw;
  }
}
.campaign__gold-big--width {
  width: 206px;
}
@media screen and (max-width: 600px) {
  .campaign__gold-big--width {
    width: 34.33vw;
  }
}
.campaign__paragraph {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.9;
  padding: 13px 0px 25px 13px;
}
@media screen and (max-width: 600px) {
  .campaign__paragraph {
    font-size: 2.5vw;
    padding: 2.16vw 0 4.16vw 2.16vw;
  }
}
.campaign__button-small {
  background: url(../image/button-smaller.svg) no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 900;
  color: #fff;
  line-height: 1;
  width: 300px;
  height: 65px;
  position: absolute;
  margin-top: 10px;
  margin-left: -28px;
  font-size: 2.1rem;
}
@media screen and (max-width: 600px) {
  .campaign__button-small {
    width: 50vw;
    height: 10.83vw;
    margin-top: 1.66vw;
    margin-left: -4.66vw;
    font-size: 3.5vw;
  }
}
.campaign__bottom-content {
  border: 3px solid #1A1311;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 10px 0px;
}
@media screen and (max-width: 600px) {
  .campaign__bottom-content {
    padding: 1.66vw 1.66vw 0;
  }
}
.campaign__bottom-col1 {
  width: 320px;
  position: relative;
}
@media screen and (max-width: 600px) {
  .campaign__bottom-col1 {
    width: 53.33vw;
  }
}
.campaign__bottom-col2 {
  width: 310px;
}
@media screen and (max-width: 600px) {
  .campaign__bottom-col2 {
    width: 52.66vw;
  }
}
.campaign__bottom-text {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
  font-size: 26px;
  margin-left: 22px;
  margin-top: -2px;
  color: #6D3C17;
}
@media screen and (max-width: 600px) {
  .campaign__bottom-text {
    font-size: 4.33vw;
    margin-left: 0;
    margin-top: -0.33vw;
  }
}
@media screen and (max-width: 375x) {
  .campaign__bottom-text {
    margin-left: 2.66vw;
    margin-top: -1.33vw;
  }
}
.campaign__col2-text {
  font-family: 1rem;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
  margin-top: 7px;
}
@media screen and (max-width: 600px) {
  .campaign__col2-text {
    font-size: 1.66vw;
    margin-top: 1.16vw;
  }
}
@media screen and (max-width: 375px) {
  .campaign__col2-text {
    font-size: 1.6vw;
    margin-top: 0.5vw;
  }
}
.campaign__bottom-price-yen {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 600;
  font-size: 60px;
  font-weight: 600;
  margin-top: -7px;
  margin-left: 24px;
  letter-spacing: -1px;
}
@media screen and (max-width: 600px) {
  .campaign__bottom-price-yen {
    font-size: 10vw;
    margin: 0;
  }
}
.campaign__bottom-price-yen span {
  font-size: 3.2rem;
}
@media screen and (max-width: 600px) {
  .campaign__bottom-price-yen span {
    font-size: 5.33vw;
  }
}
.campaign__bottom-price-small-text {
  position: absolute;
  top: 43%;
  left: 55%;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 500;
  font-size: 1rem;
}
@media screen and (max-width: 600px) {
  .campaign__bottom-price-small-text {
    font-size: 1.66vw;
  }
}
.campaign__bottom-box-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  padding: 6px 0;
  border: 1px solid #6D3C17;
  color: #6D3C17;
  position: absolute;
  top: 34%;
  left: 72%;
  width: 60px;
  height: 60px;
}
@media screen and (max-width: 600px) {
  .campaign__bottom-box-text {
    font-size: 2.33vw;
    padding: 1vw 0;
    width: 10vw;
    height: 10vw;
    top: 40%;
  }
}
@media screen and (max-width: 375px) {
  .campaign__bottom-box-text {
    padding: 1vw 0;
  }
}
.campaign__bottom-box-text p {
  line-height: 1.2;
}
.campaign__crossout {
  border-left: 1px solid #DC000C;
  height: 133px;
  -webkit-transform: translateY(20px) translateX(5px) rotate(-80deg);
  position: absolute;
  top: -25.5%;
  left: 60%;
}
@media screen and (max-width: 600px) {
  .campaign__crossout {
    height: 22.16vw;
    top: -27%;
  }
}

.problem {
  position: relative;
  text-align: center;
  margin-bottom: 90px;
}
@media screen and (max-width: 600px) {
  .problem {
    margin-bottom: 15vw;
  }
}
.problem__container {
  width: 600px;
  margin-top: -8px;
}
@media screen and (max-width: 600px) {
  .problem__container {
    width: 100vw;
    margin-top: -1.33vw;
  }
}
@media screen and (max-width: 375px) {
  .problem__container {
    margin-top: -2.33vw;
  }
}
.problem__container-bg {
  width: 100%;
}
.problem__arc-container {
  top: 6%;
  left: 40%;
  z-index: 1;
  margin: 13px 0 0 66px;
  transform: rotate(1deg);
  position: absolute;
}
@media screen and (max-width: 600px) {
  .problem__arc-container {
    margin: 2.5vw 0 0 11.6vw;
    transform: rotate(0.5deg);
  }
}
@media screen and (max-width: 400px) {
  .problem__arc-container {
    margin: 2.5vw 0 0 10vw;
    transform: rotate(0.5deg);
  }
}
.problem__text-arc {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 900;
  font-size: 3rem;
}
@media screen and (max-width: 600px) {
  .problem__text-arc {
    font-size: 5vw;
  }
}
.problem__circle {
  height: 190px;
  width: 190px;
  background: url(../image/problem-circles.svg) no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 34%;
  left: 5%;
}
.problem__circle--second {
  top: 67%;
  left: 9%;
}
.problem__circle--third {
  top: 46%;
  left: 35%;
}
.problem__circle--fourth {
  top: 34%;
  left: 65%;
}
.problem__circle--fifth {
  top: 67%;
  left: 61%;
}
@media screen and (max-width: 600px) {
  .problem__circle {
    height: 31.66vw;
    width: 31.66vw;
  }
}
.problem__circle-text {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 900;
  font-size: 1.9rem;
  margin-top: 48px;
}
@media screen and (max-width: 600px) {
  .problem__circle-text {
    font-size: 3.16vw;
    margin-top: 8vw;
  }
}

.benefits {
  position: relative;
  text-align: center;
}
.benefits__container {
  width: 550px;
  margin: -15px auto;
  position: relative;
}
@media screen and (max-width: 600px) {
  .benefits__container {
    width: 91.66vw;
    margin: -2.5vw auto;
  }
}
.benefits img {
  width: 100%;
}
.benefits__bottle-container {
  width: 120px;
  position: absolute;
  top: -27%;
  left: 69%;
}
@media screen and (max-width: 600px) {
  .benefits__bottle-container {
    width: 20vw;
  }
}
.benefits__banner-text {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 900;
  font-size: 36px;
  text-align: left;
  font-style: italic;
  color: white;
  position: absolute;
  top: 5%;
  left: 6%;
}
@media screen and (max-width: 600px) {
  .benefits__banner-text {
    font-size: 5.8vw;
  }
}
.benefits__banner-text p {
  line-height: 1.3;
  text-shadow: 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000;
}
.benefits__list {
  width: 550px;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .benefits__list {
    width: 91.66vw;
  }
}
.benefits__item {
  background: url(../image/benefits-box-bg-1.png) no-repeat;
  background-position: center;
  background-size: cover;
  height: 430px;
  width: 100%;
  padding: 45px 25px;
}
@media screen and (max-width: 600px) {
  .benefits__item {
    height: 71.66vw;
    padding: 7.5vw 4.16vw;
  }
}
.benefits__item--bg-2 {
  background: url(../image/benefits-box-bg.png) no-repeat;
  background-position: center;
  background-size: 100%;
  width: 577px;
  margin-left: -10px;
  margin-bottom: 5px;
  padding: 49px 35px;
}
@media screen and (max-width: 600px) {
  .benefits__item--bg-2 {
    width: 96.16vw;
    margin-left: -1.66vw;
    margin-bottom: 0.83vw;
    padding: 8.16vw 5.83vw;
  }
}
.benefits__item-title {
  position: relative;
  border: 1px solid #1A1311;
  height: 70px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .benefits__item-title {
    height: 11.66vw;
  }
}
.benefits__item-title p {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .benefits__item-title p {
    height: 4.16vw;
  }
}
.benefits__item-number {
  background: url(../image/benefits-counter-circle.png) no-repeat;
  background-position: center;
  background-size: contain;
  height: 40px;
  width: 55px;
  position: absolute;
  top: -25%;
  left: -3%;
  padding: 9px;
}
@media screen and (max-width: 600px) {
  .benefits__item-number {
    height: 6.66vw;
    width: 9.16vw;
    padding: 1.5vw;
  }
}
.benefits__item-number span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
  color: #fff;
}
@media screen and (max-width: 600px) {
  .benefits__item-number span {
    font-size: 2.33vw;
  }
}
.benefits__paragraph {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  padding: 10px 10px 5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-align: left;
}
@media screen and (max-width: 600px) {
  .benefits__paragraph {
    font-size: 2.83vw;
    padding: 1.66vw 1.66vw 0.83vw;
  }
}
.benefits__item-box {
  border: 1px solid #040811;
  height: 157px;
}
@media screen and (max-width: 600px) {
  .benefits__item-box {
    height: 26.16vw;
  }
}

.comments {
  padding: 0 20px;
  margin-top: -15px;
  margin-bottom: 92px;
}
@media screen and (max-width: 600px) {
  .comments {
    padding: 0 3.33vw;
    margin-top: -2.5vw;
    margin-bottom: 15.33vw;
  }
}
.comments__title {
  background: url(../image/comments-title-bg.svg) no-repeat;
  background-position: center;
  background-size: contain;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .comments__title {
    height: 16.66vw;
  }
}
.comments__title p {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 700;
  font-size: 45px;
  color: #1A1311;
  text-shadow: 8px 2px 3px #00000042;
}
@media screen and (max-width: 600px) {
  .comments__title p {
    font-size: 7.5vw;
  }
}
.comments__item-title {
  background: url(../image/comments-item-bg.svg) no-repeat;
  background-position: center;
  background-size: contain;
  height: 62px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .comments__item-title {
    height: 10.33vw;
  }
}
.comments__item-title p {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #1A1311;
  text-shadow: 8px 2px 3px #00000042;
}
@media screen and (max-width: 600px) {
  .comments__item-title p {
    font-size: 4.16vw;
  }
}
.comments__item-content {
  padding-left: 15px;
  display: inline-flex;
}
@media screen and (max-width: 600px) {
  .comments__item-content {
    padding-left: 2.5vw;
  }
}
.comments__col1 {
  width: 193px;
}
@media screen and (max-width: 600px) {
  .comments__col1 {
    width: 32.16vw;
  }
}
.comments__img-container {
  width: 193px;
  margin-top: -7px;
}
@media screen and (max-width: 600px) {
  .comments__img-container {
    width: 32.16vw;
    margin-top: -1.16vw;
  }
}
.comments img {
  width: 100%;
}
.comments__img-caption {
  background-color: #A56D35;
  height: 37px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -4px;
  font-size: 21px;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 700;
}
@media screen and (max-width: 600px) {
  .comments__img-caption {
    height: 6.16vw;
    margin-top: -1vw;
    font-size: 3.5vw;
  }
}
.comments__col2-title {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
  font-size: 24px;
}
@media screen and (max-width: 600px) {
  .comments__col2-title {
    font-size: 4vw;
  }
}
.comments__paragraph {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
  font-size: 21px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  text-align: justify;
}
@media screen and (max-width: 600px) {
  .comments__paragraph {
    font-size: 3.5vw;
  }
}
.comments__blue {
  color: #3774AC;
}
.comments__col2 {
  padding: 7px 7px 0 22px;
}
@media screen and (max-width: 600px) {
  .comments__col2 {
    padding: 1.16vw 1.16vw 0 3.66vw;
  }
}
.comments__item {
  margin-bottom: 32px;
}
@media screen and (max-width: 600px) {
  .comments__item {
    margin-bottom: 5.33vw;
  }
  .comments__item:nth-child(3) {
    margin-bottom: 8.33vw;
  }
}

.video {
  position: relative;
  text-align: center;
}
.video__container {
  width: 550px;
  margin: -15px auto;
  position: relative;
}
@media screen and (max-width: 600px) {
  .video__container {
    width: 91.66vw;
    margin: -2.5vw auto;
  }
}
.video img {
  width: 100%;
}
.video__bottle-container {
  width: 120px;
  position: absolute;
  top: -22%;
  left: 68%;
}
@media screen and (max-width: 600px) {
  .video__bottle-container {
    width: 20vw;
  }
}
.video__banner-text {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 900;
  font-size: 36px;
  text-align: left;
  font-style: italic;
  color: white;
  position: absolute;
  top: 21%;
  left: 8%;
}
@media screen and (max-width: 600px) {
  .video__banner-text {
    font-size: 6vw;
  }
}
.video__banner-text p {
  line-height: 1.3;
  text-shadow: 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000;
}
.video__text {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: 2.1rem;
  font-weight: 500;
  margin-top: 10px;
}
@media screen and (max-width: 600px) {
  .video__text {
    font-size: 3.5vw;
    margin-top: 1.66vw;
  }
}
.video__wrapper {
  height: 370px;
  padding: 20px;
}
@media screen and (max-width: 600px) {
  .video__wrapper {
    height: 61.66vw;
    padding: 3.33vw;
  }
}

.qa {
  padding: 0 20px;
  margin-top: -15px;
  margin-bottom: 92px;
}
@media screen and (max-width: 600px) {
  .qa {
    padding: 0 3.33vw;
    margin-top: -2.5vw;
    margin-bottom: 15.33vw;
  }
}
.qa__title {
  background: url(../image/comments-title-bg.svg) no-repeat;
  background-position: center;
  background-size: contain;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .qa__title {
    height: 16.66vw;
  }
}
.qa__title p {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 700;
  font-size: 45px;
  color: #1A1311;
  text-shadow: 8px 2px 3px #00000042;
}
@media screen and (max-width: 600px) {
  .qa__title p {
    font-size: 7.5vw;
  }
}
.qa__list {
  margin: 0 auto;
  margin-top: 42px;
}
@media screen and (max-width: 600px) {
  .qa__list {
    margin-top: 2vw;
  }
}
.qa__item {
  border-bottom: 1px solid #BEBFBE;
  padding: 0 8px 32px;
  margin: 10px;
  margin-bottom: 26px;
}
.qa__item:last-child {
  border-bottom: none;
}
@media screen and (max-width: 600px) {
  .qa__item {
    padding: 0 1.33vw 5.33vw;
    margin: 1.66vw;
    margin-bottom: 4.33vw;
  }
}
.qa__question {
  display: flex;
  align-items: center;
}
.qa__question-img {
  width: 35px;
  margin-right: 7px;
}
@media screen and (max-width: 600px) {
  .qa__question-img {
    width: 5.8vw;
    margin-right: 1.16vw;
  }
}
.qa img {
  width: 100%;
}
.qa__question-text {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
  font-size: 27px;
}
@media screen and (max-width: 600px) {
  .qa__question-text {
    font-size: 4.5vw;
  }
}
.qa__answer {
  display: flex;
  align-items: self-start;
  margin-top: -5px;
}
@media screen and (max-width: 600px) {
  .qa__answer {
    margin-top: -0.83vw;
  }
}
.qa__answer-text {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  width: 480px;
  margin-left: 4px;
  font-size: 21px;
  margin-top: 6px;
  text-align: justify;
}
@media screen and (max-width: 600px) {
  .qa__answer-text {
    width: 80vw;
    margin-left: 0.66vw;
    font-size: 3.5vw;
    margin-top: 1vw;
  }
}

.sns {
  position: relative;
  text-align: center;
  margin-top: 95px;
}
@media screen and (max-width: 600px) {
  .sns {
    margin-top: 15.83vw;
  }
}
.sns__container {
  width: 530px;
  margin: -12px 37px;
  height: 160px;
  position: relative;
}
@media screen and (max-width: 600px) {
  .sns__container {
    width: 88.33vw;
    margin: -2vw 6.16vw;
    height: 26.66vw;
  }
}
.sns__container img {
  width: 100%;
  height: 100%;
}
.sns img {
  width: 100%;
}
.sns__bottle-container {
  width: 120px;
  position: absolute;
  top: -27%;
  left: 68%;
}
@media screen and (max-width: 600px) {
  .sns__bottle-container {
    width: 20vw;
  }
}
.sns__banner-text {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 900;
  font-size: 36px;
  text-align: left;
  font-style: italic;
  color: white;
  position: absolute;
  top: 35%;
  left: 8%;
}
@media screen and (max-width: 600px) {
  .sns__banner-text {
    font-size: 6vw;
  }
}
.sns__banner-text p {
  line-height: 1.3;
  text-shadow: 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000, 8px 2px 3px #000;
}
.sns__img-container {
  padding: 0 32px 0 37px;
  margin-top: 4px;
}
@media screen and (max-width: 600px) {
  .sns__img-container {
    padding: 0 5.33vw 0 6.16vw;
    margin-top: 0.66vw;
  }
}

.pr {
  position: relative;
  text-align: center;
}
.pr__container {
  margin: 17px 35px;
}
@media screen and (max-width: 600px) {
  .pr__container {
    margin: 2.83vw 5.83vw;
  }
}
.pr__container-bg {
  width: 100%;
}
.pr__title {
  position: absolute;
  top: 6%;
  left: 34%;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 700;
  text-shadow: 2px 2px #0000008a;
  font-size: 3.8rem;
}
@media screen and (max-width: 600px) {
  .pr__title {
    font-size: 6.33vw;
  }
}
.pr__box {
  background-color: #fff;
  width: 440px;
  height: 200px;
  position: absolute;
  top: 16%;
  left: 14%;
}
@media screen and (max-width: 600px) {
  .pr__box {
    width: 73.33vw;
    height: 33.33vw;
  }
}
.pr__text {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
  font-size: 2.1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  width: 460px;
  position: absolute;
  top: 51%;
  left: 14%;
  text-align: left;
}
@media screen and (max-width: 600px) {
  .pr__text {
    font-size: 3.5vw;
    width: 76.66vw;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1A1311;
  height: 70px;
  margin-top: -7px;
}
@media screen and (max-width: 600px) {
  .footer {
    height: 11.66vw;
    margin-top: -0.84vw;
  }
}
.footer__copyright {
  color: #fff;
  font-weight: 500;
  font-size: 2.2rem;
}
@media screen and (max-width: 600px) {
  .footer__copyright {
    font-size: 3.66vw;
  }
}

.max-width {
  max-width: 600px;
  margin: 0 auto;
}

.p-lr-5 {
  padding: 0 5px;
}
@media screen and (max-width: 600px) {
  .p-lr-5 {
    padding: 0 0.8vw;
  }
}

.align-center {
  align-items: center;
}

.bold {
  font-weight: bold;
}

.section {
  margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
  .section {
    margin-bottom: 3.3vw;
  }
}
