.max-width {
  max-width: 600px;
  margin: 0 auto;
}

.p-lr-5 {
  padding: 0 5px;

  @media screen and (max-width: 600px) {
    padding: 0 0.8vw;
  }
}

.align-center {
  align-items: center;
}

.bold {
  font-weight: bold;
}

.section {
  margin-bottom: 20px;

  @media screen and (max-width: 600px) {
    margin-bottom: 3.3vw;
  }
}